
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h1{
    color: green; /*chamada a partir da TAG html->*/
    height: 37px;    
    border: 2px solid red;
    
}h2{
    color: blue;/*chamada a partir da TAG html->*/
}
#economy h2{  
    color: gold; /* chamada a partir da ID, que é único na página, não repete*/
}
.creation-date{
    color: aqua; /*chamada a partir da Classe*/
}
* {
    color:brown; /* Tudo que não foi especificado anteriormente, seguirá esta estilização*/
}

